/*
 * @Author: Eugene
 * @Date: 2019-11-20 08:37:55
 * @LastEditors: Eugene
 * @LastEditTime: 2019-11-27 20:50:09
 * @FilePath: \大作业\style.css
 */

#name {
    font-family: Agency FB;
    font-size: xxx-large;
    color: rgb(255, 255, 255);
    width: 400px;
    height: 110px;
    padding-left: 180px;
    padding-top: 230px;
    text-align: center;
    position: relative;

}

#title {
    background-image: url(portal.jpg);
    margin: 10px auto;
    width: 1503px;
    height: 740px;
}

.avator {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 180px;
    top: 200px;

}

#img-circle {
    width: auto;
    height: auto;
    border-radius: 50%;
}

.box2{
    width: auto;
    height: 750px;
}

#animationArrow{
    position: relative;
    padding-left: 200px;
    width: 450px;
    height: 300px;
    transform:translateY(60%) ;
}